### Transforming code into Idiomatic Python
* Replace traditional index manipulation with Python core looping idiomatic

In [1]:
#Looping over a range of numbers--Traditional approach
for i in [0,1,2,3,4,5]:
    print(i**2,end=" ")

0 1 4 9 16 25

In [2]:
#Idiomatic programming
for i in range(6):
    print(i**2,end=" ")

0 1 4 9 16 25

### Looping over a collection

In [4]:
colors=['red','green','yellow','purple']
for i in range (len(colors)):
    print(colors[i],end=" ")

red green yellow purple

In [5]:
for color in colors:
    print(color,end=" ")

red green yellow purple

### Looping backwards

In [7]:
colors=['red','green','yellow','purple']
for i in range(len(colors)-1,-1,-1):
    print(colors[i],end=" ")

purple yellow green red

In [8]:
for color in reversed(colors):
    print(color,end=" ")

purple yellow green red

### Looping in sorted list

In [10]:
colors=['red','green','yellow','purple']
for color in sorted(colors):
    print(color,end=" ")

green purple red yellow

In [11]:
colors=['red','green','yellow','purple']
for color in sorted(colors,reverse=True):
    print(color,end=" ")

yellow red purple green

###
* if x<=y and y<=z:
* if x<=y<=z:
* if x==True:
* if x:

### Pandas

In [12]:
import pandas as pd

In [13]:
dt={'Id':{11,12,13,14,15},
   'first_name':['A','B','C','D','E'],
   'company':['aa','bb','cc','dd','ee'],
   'address':['Hyd','Hyd','Hyd','Hyd','Hyd']}
mydt=pd.DataFrame(dt)

In [14]:
print(mydt)

                     Id first_name company address
0  {11, 12, 13, 14, 15}          A      aa     Hyd
1  {11, 12, 13, 14, 15}          B      bb     Hyd
2  {11, 12, 13, 14, 15}          C      cc     Hyd
3  {11, 12, 13, 14, 15}          D      dd     Hyd
4  {11, 12, 13, 14, 15}          E      ee     Hyd

In [15]:
import os

In [22]:
os.chdir("D:\\MyData\\")#Saves to certain location

In [23]:
mydt.to_csv('WorkingFile.csv',index=False)

### Reading the data from CSV file

In [24]:
mydata=pd.read_csv('Workingfile.csv')

In [25]:
pwd

'D:\\MyData'

In [26]:
print(mydata)

                     Id first_name company address
0  {11, 12, 13, 14, 15}          A      aa     Hyd
1  {11, 12, 13, 14, 15}          B      bb     Hyd
2  {11, 12, 13, 14, 15}          C      cc     Hyd
3  {11, 12, 13, 14, 15}          D      dd     Hyd
4  {11, 12, 13, 14, 15}          E      ee     Hyd

In [34]:
mydata1=pd.read_csv('WorkingFile.csv',skiprows=1,names=["CustId","Name","Company","Address"])

In [35]:
print(mydata1)

                 CustId Name Company Address
0  {11, 12, 13, 14, 15}    A      aa     Hyd
1  {11, 12, 13, 14, 15}    B      bb     Hyd
2  {11, 12, 13, 14, 15}    C      cc     Hyd
3  {11, 12, 13, 14, 15}    D      dd     Hyd
4  {11, 12, 13, 14, 15}    E      ee     Hyd