In [1]:
for i in [0,1,2,3,4,5]:
    print(i**2,end=" ")

0 1 4 9 16 25

In [2]:
for i in range (6):
    print(i**2,end=" ")

0 1 4 9 16 25

In [3]:
colors = ['red','green','yellow','purple']
for i in range(len(colors)):
    print(colors[i],end=" ")

red green yellow purple

In [4]:
for color in colors:
    print(color,end=" ")

red green yellow purple

In [5]:
for color in reversed(colors):
    print(color,end=" ")

purple yellow green red

In [7]:
import pandas as pd

In [8]:
dt = {'Id':[11,12,13,14,15],
      'first_name':['A','B','C','D','E'],
      'company':['aa','bb','cc','dd','ee'],
      'address':['hyd','hyd','hyd','hyd','hyd']}
mydt = pd.DataFrame(dt)

In [9]:
print(mydt)

   Id first_name company address
0  11          A      aa     hyd
1  12          B      bb     hyd
2  13          C      cc     hyd
3  14          D      dd     hyd
4  15          E      ee     hyd